<a href="https://colab.research.google.com/github/bommankondapraveenkumar/datadime/blob/master/pythonwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def mailing_address():
  print(" Mailing_Address:\n H.NO:1-7-47/5/G\n Bapaunagar\n Adarsha Hills\n Narayanpet\n")
mailing_address()

 Mailing_Address:
 H.NO:1-7-47/5/G
 Bapaunagar
 Adarsha Hills
 Narayanpet

In [14]:
def hello():
  c=input("eneter your name")
  print("hello",c)
hello()

eneter your namepraveen
hello praveen

In [26]:
def area():
  length=float(input("enter the length:\n"))
  width=float(input("enter the width:\n"))
  room_area=length*width
  print("%.2f" %room_area,"feet")
area()

enter the length:
89.90
enter the width:
98.09
8818.29 feet

In [30]:
def square_feet():
  square_feet=43560
  length=float(input("length in feet\n"))
  width=float(input("width in feet\n"))
  acre=(length*width)/square_feet
  print("%.2f" %acre, "acres")
square_feet()

length in feet
1000
width in feet
1000
22.96 acres

In [32]:
less_p=0.10
more_p=0.25
less=float(input("enter less than 1 lt drinks quantity:\n"))
more=float(input("enter more than 1 lt quantity:\n"))
total_refund=less*less_p+more*more_p
print("total refund is %.2f" %total_refund)

enter less than 1 lt drinks quantity:
2.4
enter more than 1 lt quantity:
3.4
total refund is 1.09

In [41]:
meal_cost=float(input("enter the meal cost:$\n"))
tip=0.18*meal_cost
tax=0.10*meal_cost
grand_total=meal_cost+tip+tax
print("meal_cost",meal_cost,"tip","$%.2f\n" %tip,"tax","$%.2f\n" %tax,"grand total is $ %.2f\n" %grand_total)

enter the meal cost:$
3
meal_cost 3.0 tip $0.54
 tax $0.30
 grand total is $ 3.84

In [49]:
n=int(input("enter a number\n"))
sum=int(n*n+n)/2
print("sum of positive numbers for",n,"is : %.f" %sum)

enter a number
99
sum of positive numbers for 99 is : 4950